.navbar {
	max-height: 70px; 
	background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 540px) {
	.navbar {
		max-height: 90px;
	}
}

.navbar-nav > li > a {
	padding-top:5px !important; padding-bottom:0 !important;
	height: 40px;
}

.nav-link {
	font-size: 20px;
	padding-right: .7rem;
}

.navbar-item {
	font-size: 150%;
	padding-right: 30px;
}

.navbar-brand {
  font-size: 300%;
  font-family: "Raleway", sans-serif;
  color: #344a7f;
}
@media (max-width: 540px) {
	.navbar-brand {
		font-size: 200px;
	}
}