button {
  background: none;
  border: none;
  color: #344a7f;
  text-shadow: 2px 2px 2px #2a163b;
  font-size: 35px;
  outline: none;
}

#time-control {
  color: white;
  font-size: 20px;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: #344a7f;
  height: 6px;
  width: 170px;
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.total-volume {
  color: white;
  font-size: 20px;
}

#volume-icon {
  font-size: 35px;
  color: #344a7f;
  text-shadow: 1px 1px 1px #2a163b;
  font-size: 35px;
}
